<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Survey Form</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <div class="container">
        <h3>Submitted Info</h3>
        <p>Name: {{name}}</p>
        <p>Dojo Location: {{location}}</p>
        <p>Favorite Language: {{language}}</p>
        <p>Comment: {{comment}}</p>
        <a href="/back" class="btn btn-default">Back</a>
    </div>
    </body>
</html>